* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: #81bbdf;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.title {
    color: white;
    margin-top: 80px;
}

form {
    text-align: left;
    background-color: aliceblue;
    width: 500px;
    margin: 80px auto;
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

form fieldset {
    border: 1px solid #577f97;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

form fieldset input {
    background-color: aliceblue;
    border: none;
    font-size: 20px;
}


form button {
    border: none;
    padding: 20px;
    border-radius: 5px;
    background-color: #577f97;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 4px 4px 4px gray;
}

.error-info {
    color: rgb(210, 15, 15);
}

